{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.name }} !</h2>


<h2>Please select from the list below.</h2>

<div>
  <a href='/profile_update' id='profile_update'>Update Your Profile</a>
</div>
<div>
  <a href='/booking' id='booking'>Book a Listing</a>
</div>
<div>
  <a href='/create_listing'>Create listing</a>
</div>
<div>
  <a href='/listing'>Update listing</a>
</div>

<a href='/logout'>logout</a>
{% endblock %}
