3{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.name }} !</h2>


<h2>Please select from the list below.</h2>

<div>
  <a href='/profile_update' id='profile_update'>Update Your Profile</a>
</div>
<div>
  <a href='/booking' id='booking'>Book a Listing</a>
</div>
<div>
  <a href='/create_listing'>Create listing</a>
</div>
<div>
  <a href='/listing'>Update listing</a>
</div>

<a href='/logout'>Logout</a>

<h4>Your Bookings:</h4>

<table cellpadding="10" cellspacing="10">
  <tr>
      <th>Booking ID</th>
      <th>Listing ID</th>
      <th>Booking Date</th>
      <th>Start Date</th>
      <th>End Date</th>
  </tr>
  {% for book in bookings %}
      <tr>
          <td id=booking_{{book.id}}>{{ book.id }}</td>
          <td>{{ book.listing_id }}</td>
          <td>{{ book.booking_date }}</td>
          <td>{{ book.start_date }}</td>
          <td>{{ book.end_date }}</td>
      </tr>
  {% endfor %}
</table>

{% endblock %}
